<h3>管理者ログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <table class="table_field">
        <tbody>
          <tr>
            <td><%= f.label :"メールアドレス" %></td>
            <td><%= f.text_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :"パスワード" %></td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "ログイン" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>

<%= render "admin/shared/links" %>
