<div class="container">
  <div class="row">
    <div class="col-md-2" style="background-color: orange;">
      <div class="genre">
        <h4>ジャンル検索</h4>
        <p>ケーキ</p>
        <p>焼き菓子</p>
        <p>プリン</p>
        <p>キャンディ</p>
      </div>
    </div>
    <div class="col-md-10">
      <div class="shop_image">
        <p class="top-text">
          <span>
          ようこそながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
          </span>
        </p>
      </div>
      <h2　class="new_items">新着商品</h2>
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-md-3">
          <% if customer_signed_in? %>
            <%= link_to item_path(item) do %>
              <%= image_tag item.image, size: "200x200" %>
            <% end %><br>
          <% else %>
            <%= link_to admin_item_path(item) do %>
              <%= image_tag item.image, size: "200x200" %>
            <% end %><br>
          <% end %>
          <%= item.name %><br>
          ¥<%= item.price %>
          </div>
        <% end %>
      </div>
      <%= link_to "全ての商品を見る>>", items_path %>
    </div>
  </div>
</div>