<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h4>注文情報入力</h4>
    <%= form_with model: @order, url: confirm_orders_path do |f| %>
      <p><strong>支払い方法</strong></p>
      <div class="payment">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
      </div>
      <div class="payment">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      </div>
      <p><strong>お届け先</strong></p>

      <div class="address">
        <%= f.radio_button :select_address, 0 %>
        <%= f.label :select_address, "ご自身の住所" %><br>
        〒<%= current_customer.postal_code %><br>
        <%= current_customer.address %><br>
        <%= current_customer.first_name %><%= current_customer.last_name %>
      </div>
      <div class="address">
        <%= f.radio_button :select_address, 1 %>
        <%= f.label :select_address, "登録住所から選択" %><br>
        <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
      </div>
      <div class="address">
        <%= f.radio_button :select_address, 2 %>
        <%= f.label :select_address, "新しいお届け先" %>
          <table class="table">
            <tbody>
              <tr>
                <th>郵便番号(ハイフンなし)</th>
                <th><%= f.text_field :postal_code %></th>
              </tr>
              <tr>
                <th>住所</th>
                <th><%= f.text_field :address %></th>
              </tr>
              <tr>
                <th>宛名</th>
                <th><%= f.text_field :name %></th>
              </tr>
            </tbody>
          </table>
      </div>
       <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>