<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h3 class="title_name">ログイン</h3>


      <div class="table">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table">
          <tbody>
            <tr>
              <td><h5 class="headline">会員の方はこちらからログイン</h5></td>
              <td></td>
            </tr>
            <tr>
              <div class="field">
              <td><%= f.label :"メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
              </div>
            </tr>
            <tr>
              <div class="field">
              <td><%= f.label :"パスワード" %></td>
              <td><%= f.password_field :password, autocomplete: "current-password" %></td>
              </div>
            </tr>
            <tr>
              <div class="field">
              <td></td>
              <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
              </div>
            </tr>
        </tbody>
        </table>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h5 class="headline">会員登録がお済みでない方</h5><br>
        <p><%= render "public/shared/links" %>　から新規登録を行なってください</p>
    </div>
  </div>
</div>
