  <div class="container">
    <h2>商品一覧</h2>
    <p>全<%= @items %>件</p>
    <div class="row">
      <div class="col-sm-12 col-md-7 col-lg-7 px-5 px-sm-0 mx-auto">
      <table class="table　float-left">
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <div class="item_nubmer">
                <%= link_to item_path(item) do %>
                <%= image_tag item.image, size: "200x200" %>
                <% end %><br>
                <%= item.name %><br>
                <%= item.price %>
                </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
