<div class="container">
  <div class="row">
    <div class="col-md-2" style="background-color: orange;">
      <h4>ジャンル検索</h4>
      <p>ケーキ</p>
     <p>焼き菓子</p>
      <p>プリン</p>
      <p>キャンディ</p>
    </div>

    <div class="col-md-10">
      <h2>商品一覧</h2>
      <p>(全<%= @items.count %>件)</p>
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-md-3">
          <div class="item">
            <%= link_to item_path(item) do %>
              <%= image_tag item.image, size: "200x200" %>
            <% end %>
            <%= item.name %><br>
            <%= item.price %><br>
          </div>
        </div>
        <% end %>
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>
