<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-3 px-0 px-sm-0 mx-auto" style="background-color: orange;">
      <h4>ジャンル検索</h4>
      <p>ケーキ</p>
      <p>焼き菓子</p>
      <p>プリン</p>
      <p>キャンディ</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-4 px-1 px-sm-0 mx-auto">
      <%= image_tag @item.image, size: "200x200" %>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-5 px-1 px-sm-0 mx-auto">
      <table class="table">
        <tbody>
          <tr>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>¥<%= @item.price %>(税込)</td>
          </tr>
          <tr>
            <td>
            <%= form_with model: @cart_item do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.select :amount, *[1..10] %>
              <%= f.submit "カートに入れる", class: "btn btn-success" %>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>