<div class="container">
  <div class="row">
    <div class="col-md-2" style="background-color: orange;">
      <h4>ジャンル検索</h4>
      <p>ケーキ</p>
      <p>焼き菓子</p>
      <p>プリン</p>
      <p>キャンディ</p>
    </div>
    <div class="col-md-4">
      <%= image_tag @item.image, size: "300x250" %>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <h3><%= @item.name %></h3>
          </tr>
          <tr>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>¥<%= @item.with_tax_price %>(税込)</td>
          </tr>
          <tr>
            <td>
            <%= form_with model: @cart_item do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.select :amount, *[1..10] %>
              <%= f.submit "カートに入れる", class: "btn btn-success" %>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>